@{ 
    @model Products;
    ViewBag.Title = "Details"; 
}


<div class="container">
    <div class="card mt-4">
        <div class="card-header text-center">
            <h4>@Model.NameProduct</h4>
        </div>
        <div class="card-body">
            <h6>@Model.Content</h6>
            @*<h6>@Model.Type</h6>*@
            <h6>@Model.ShortDescription</h6>
            <h6 class="text-right">@Model.Author</h6>
            @*<img src="@Url.Content("~/"+emp.AvatarPath)" class="card-img-bottom" />*@
        </div>

        <div class="card-footer  text-center">
            <a asp-controller="Home" asp-action="Index" class="btn btn-outline-warning">Back</a>
            @*<a asp-controller="Home" asp-action="Edit" asp-route-id="@prod.Id" class="btn btn-warning">Edit</a>*@
            @*<a asp-controller="Home" asp-action="Details" asp-route-id="@prod.ProductId" class="btn btn-danger">Delete</a>*@
        </div>
    </div>
</div>