


@{
    ViewBag.Title = "Home Page";
    @model IEnumerable<Products>;
}
<h1 class="display-4">Welcome Blog Pika Long</h1>
<div class="row text-center">

    @foreach (var prod in Model)
    {

        <div class="col-sm-4">
            <div class="card mt-2">
                <div class="card-header text-center">
                    <h4>@prod.NameProduct</h4>
                </div>
                <div class="card-body">

                    <h6>@prod.ProType</h6>
                    <h6>@prod.Author</h6>
                    @*<img src="@Url.Content("~/"+emp.AvatarPath)" class="card-img-bottom" />*@
                </div>

                <div class="card-footer  text-center">
                    <a asp-controller="Home" asp-action="Details" asp-route-id="@prod.ProductId" class="btn btn-primary">View</a>
                </div>
            </div>
        </div>
     }
</div>